

  body{
    background-color: white;
    color: black;
  }

 #card {
     height: auto;
     width: 566px;
     background-color: black;
     color: white;
     position: relative;
     border-radius: 10px;
 }

 #container {
     border-radius: 10px;
     position: relative;
     overflow: hidden;
     transition: all ease 3s;
     display: flex;
     align-items: center;
     justify-content: center;

 }

 #userInfo {
     display: flex;
     align-items: center;
     justify-content:flex-start;
     flex-direction: row;
     height: 60px;
     padding: 0 12px;
     box-sizing: border-box;
 }

 #userInfo #profile img {
     height: 40px;
     width: 40px;
     border-radius: 50%;


 }

 #userInfo #username p {
     height: auto;
     width: -20px;
     flex: 1;
     margin-left: 12px;
     font-weight: bold;


 }


 #mainImg img {
     width: 1080px;
     height: 566px;
     object-fit: cover;
     
 }

 #mainImg{
    overflow: hidden;
 }

 #btnContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    padding: 0 12px;
    width: 100%;
    box-sizing: border-box;
 }



 #leftBtns{
    display: flex;
    gap: 16px;
 }

 .icon{
    font-size: 24px;
    cursor: pointer;
 }

 .icon:hover{
    color: #555;
 }

 .save-btn{
    font-size: 24px;
 }

 #likes-container{
    font-size: 14px;
    padding: 4px 12px;
    color: white;
    opacity: 0.9;

 }

 #likes-container strong{
    font-weight: 600;
    cursor: pointer;
 }

 #des-container{
padding: 4px 12px;
font-size: 14px;
line-height: 1.4;
color: white;
opacity: 0.9;
}


 #des-container #username1{
    font-weight: 600;
    margin-right: 6px;
    cursor: pointer;
 }


 #like{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: 250px;
    margin-top: 50%;
    
 }

 #like i{
    font-size: 100px;
    color: #fff;
    transform: scale(0);
    opacity: 0;
    transition: all ease 2s;

 }